<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 80px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }


    </style>
</head>
<body>

<form id="create-form" th:action="@{/user/save}" th:object="${user}" th:method="post" accept-charset="utf-8">
    <h1>New User:</h1>

    <div class="row">
        <label for="user-name">Имя:</label>
        <input id="user-name" name="name" type="text" th:value="${user.name}" value="John Doe"/>
        <label for="user-street">Адрес:</label>
        <input id="user-street" name="street" type="text" th:value="${user.street}" value="Ленина 45"/>
        <label for="user-phone">Телефоны:</label>
        <input id="user-phone" name="phone" type="text" th:value="${user.phone}" value="8 (123) 45 67 890"/>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
